// bower:scss
// endbower

@import 'foundation';

@import 'colors';
@import 'cards';
@import 'map';
@import 'project_detail';
@import 'foundation_overrides';

$main_background_color: #F5F5F5;

.title {
  color: white;
}

#introduction {
  margin-top: 50px;
}

.footer {
  background-color: $grey-200;
  padding: 35px;

  .text-center {
    margin-bottom: 20px;
  }

  .footer-img-tall {
    width: 100px;
    margin-right: 50px;
  }

  .footer-img-fat {
    width: 200px;
    margin-right: 50px;
  }
  .footer-link {
    margin-left: 20px;
    margin-right: 20px;
    color: #757575;
  }
  .footer-message {
    background-color: initial;
    p {
      color: $grey-600;
      font-size: 12px;
    }
  }

}


.filters__tags {
  margin-top: 20px;
}

.map__filter {
  display: block;
}

.map__legend {
  font-size: 12px;
  margin-bottom: 0px;

  span {
    padding: 3px 3px 3px 3px;
    margin-right: 15px;
  }
}


/* adapted from http://maxwells.github.io/bootstrap-tags.html */
.tag {
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: 0 .1em;
}
.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}

.close-tag {
  cursor: pointer;
}

// header
#header {
  padding: 40px;
  background-color: $header_color;

  p {
    color: white;
    font-wight: 800;
    font-size: 18px;
  }
}

.narrative {
  color: $grey-600;
}

.icon {
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
}