// bower:scss
// endbower

@import 'foundation';

@import 'cards';
@import 'map';
@import 'project_detail';

$main_background_color: #F5F5F5;

body {
  background-color: $main_background_color;
}

.title {
  color: white;
}

#introduction {
  margin-top: 50px;
}

.row {
  background-color: white;
}

.footer {
  background-color: initial;

  .text-center {
    margin-bottom: 20px;
  }

  .footer-img-tall {
    width: 100px;
    margin-right: 50px;
  }

  .footer-img-fat {
    width: 200px;
    margin-right: 50px;
  }
  .footer-link {
    margin-left: 30px;
    margin-right: 30px;
    color: #757575;
  }
  .footer-message {
    background-color: initial;
    p { font-size: 12px; }
  }

}


.filters__tags {
  margin-top: 20px;
  background-color: $main_background_color;
}

.map__filter {
  display: block;
}

.map__legend {
  font-size: 12px;
  margin-bottom: 0px;

  span {
    padding: 3px 3px 3px 3px;
    margin-right: 15px;
  }
}


/* adapted from http://maxwells.github.io/bootstrap-tags.html */
.tag {
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: 0 .1em;
}
.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}

.close-tag {
  cursor: pointer;
}
