<div id="introduction" class="row">
  <div class="small-12 large-12 columns">
    <h3>Transparencia Financiamiento</h3>
    <p>¿Qué es? es un mapa para visualizar manera geográfica el financiamiento
      climático que ha sido invertido a nivel nacional y estatal en México.</p>
  </div>

  <div class="small-12 large-12 columns">
    <div class="small-12 large-2 columns">
      <select id="mexicoMapYear"></select>
    </div>
    <div class="small-12 large-3 columns">
      <select id="mexicoMapFinancing"></select>
    </div>
    <div class="small-12 large-3 columns">
      <select id="mexicoMapScope"></select>
    </div>
    <div class="small-12 large-4 columns">
      <input id="mexicoMapSearch" type="text" placeholder="Buscar proyecto por nombre">
    </div>
  </div>

  <div class="small-12 large-12 columns">
    <mexico-map></mexico-map>
  </div>
</div>
