<div id="introduction" class="row">
  <div class="small-12 large-12 columns">
    <h3>Transparencia Financiamiento</h3>
    <!-- <p>¿Qué es? es un mapa para visualizar manera geográfica el financiamiento
      climático que ha sido invertido a nivel nacional y estatal en México.</p> -->
  </div>

  <div class="small-12 large-9 columns">
    <mexico-map></mexico-map>
  </div>

  <div class="small-12 large-3 columns">
    <select class="map__filter" ng-model="main.filters.year" ng-options="year for year in main.options.years">
      <option value="">Todos los a&ntilde;os</option>
    </select>
    <select class="map__filter" ng-model="main.filters.state" ng-options="state for state in main.states">
      <option value="">Todos los estados</option>
    </select>
    <select class="map__filter" ng-model="main.filters.financing" ng-options="financing for financing in main.options.financing">
      <option value="">Cualquier financiamiento</option>
    </select>
    <select class="map__filter" ng-model="main.filters.focus" ng-options="focus for focus in main.options.focus">
      <option value="">Cualquier enfoques</option>
    </select>
    <select class="map__filter" ng-model="main.filters.status" ng-options="status for status in main.options.status">
      <option value="">Cualquier status</option>
    </select>

    <p class="map__legend"><span style="background-color: {{main.investmentColors[0]}};"></span>1 a 99,999</p>
    <p class="map__legend"><span style="background-color: {{main.investmentColors[1]}};"></span>100,000 a 999,999</p>
    <p class="map__legend"><span style="background-color: {{main.investmentColors[2]}};"></span>1M a 9,999,999</p>
    <p class="map__legend"><span style="background-color: {{main.investmentColors[3]}};"></span>M&aacute;s de 10M</p>

  </div>
</div>

<div id="totalInvestmenFooter" class="row">
  <div class="small-12 large-6 columns text-center
  small-12 large-6 columns text-center">
    <h3>{{ main.kpis.investment | humanizeInt }} USD</h3>
    <p>Millones de d&oacute;lares invertidos</p>
  </div>
  <div class="small-12 large-6 columns text-center
  small-12 large-6 columns text-center">
    <h3>{{ main.results.length | humanizeInt }}</h3>
    <p>Proyectos de inversión</p>
  </div>
</div>

<div ng-show="main.filtersAvailable()" class="row filters__tags">
  <!-- Dynamic closable tags -->
  <closable-tag value="main.filters.year"></closable-tag>
  <closable-tag value="main.filters.state"></closable-tag>
  <closable-tag value="main.filters.financing"></closable-tag>
  <closable-tag value="main.filters.focus"></closable-tag>
  <closable-tag value="main.filters.status"></closable-tag>
</div>

<!-- <div class="row"> -->
  <!-- {{main.options}}
  {{main.dataset}} -->
    <!-- <span>{{ main.data.records }}</span> -->
    <!-- <span>{{ main.options }}</span> -->
  <!-- <p>
    {{ main.results.length }}
  </p>
  <div class="data-unit" ng-repeat="record in ( main.results = (main.data.records | filter:main.filterRecords | filter:main.filters.project) )">
    <p>
      <span>{{ record.nombre_proyecto }} | </span>
      <span style="color: blue;">{{ record.ano_aprobacion }} | </span>
      <span style="color: red;">{{ record.financiamiento }} | </span>
      <span style="color: brown;">{{ record.cantidad }} | </span>
      <span style="color: orange;">{{ record.region }} | </span>
      <span style="color: green;">{{ record.area_proyecto }} </span>
    </p>
  </div> -->
  <div class="deck">
    <input class="map__filter" ng-model="main.filters.project" type="text" placeholder="Buscar proyecto por nombre">
    <div class="table__card">
      <ul>
        <accordion close-other="true">
          <accordion-group ng-repeat="record in ( main.results = (main.data.records | filter:main.filterRecords | filter:main.filters.project) )">
            <accordion-heading>
              <li class="table--row">
                <div class="row--title">{{ record.nombre_proyecto }}</div>
                <div class="row--subtitle">{{ record.region }}</div>
                <div class="row--footer text-right">${{ record.cantidad | humanizeInt }}.00</div>
              </li>
            </accordion-heading>

            <p class="record__property"><strong>Donante de fondo:</strong> {{ record.Donante_fondo }}</p>
            <p class="record__property"><strong>&Aacute;rea de proyecto:</strong> {{ record.area_proyecto }}</p>
            <p class="record__property"><strong>Beneficiario:</strong> {{ record.beneficiario }}</p>
            <p class="record__property"><strong>Financiamiento:</strong> {{ record.financiamiento }}</p>
            <p class="record__property"><strong>Status:</strong> {{ record.status }}</p>
            <p class="record__property"><strong>Observaciones:</strong> {{ record.observaciones }}</p>
            <a class="record__property" ng-href="{{ record.fuente }}" target="_blank">Fuente</a>
          </accordion-group>
        </accordion>
      </ul>
    </div>

  </div>
<!-- </div> -->
